<div class="send" ng-controller="mainController as vm">
        <h1 class="review-header">Preview review</h1>

    <div class="row text-center">
        <div class="center">
            <div star-rating class="star-rating default-cursor"  rating-value="vm.user.rating"
                 data-max="5" on-rating-selected=""></div>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <h2 class="review-header">{{vm.user.reviewHeader}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="text-center check-review">
            <p>{{vm.user.reviewText}}</p>
        </div>
    </div>

    <div ng-show="vm.user.facebook || vm.user.twitter || vm.user.linkedIn" class="row">
        <div class="col-md-3">
            <span class="send-shared-text">Shared on</span>
        </div>
        <div class="col-md-9">
            <span class="send__shared_icon truly-shader" ng-show="vm.user.facebook">Facebook</span>
            <span class="send__shared_icon truly-shader" ng-show="vm.user.twitter">Twitter</span>
            <span class="send__shared_icon truly-shader" ng-show="vm.user.linkedIn">Linkedin</span>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <button class="btn btn-primary" ng-click="vm.publish()">PUBLISH</button>
        </div>
    </div>
</div>